:root {
    --primery-text-color: #212121;
    --sekondary-text-color: #757575;
    --page-color: #F5F5F5;
    ;
    --blue-color: #2196F3;
    --section-backghround-color: #FFFFFF;
    --secondary-backghround-color: #F5F4FA;
    --footer-color: #2F303A;
    --button-background-color: #F5F4FA;
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}


/* Свойства для корректного отображения картинок */
img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Свойства для обнуления курсива у address */
address {
    font-style: normal;
}

.vissualy-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.page {
    font-family: 'Roboto';
}

/* logo */


.logo-web {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: 'Raleway';
    color: var(--blue-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.logo-studio {
    margin-bottom: 20px;

    font-family: 'Raleway';
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}


.logo-footer {
    margin-top: 0;
    margin-bottom: 20px;
    font-family: 'Raleway';
    color: var(--section-backghround-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

/* Верхня лінія */


.page-haeder .site-nav:hover,
.page-haeder .site-nav:focus {
    color: var(--blue-color);
}


.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}


.page-haeder {}

/* Header-container */
.header-container {
    padding-top: 24px;
    padding-bottom: 24px;

    justify-content: center;
    display: flex;
    align-items: center;

    border-bottom: 1px solid #ECECEC;
}

/*Nav*/
.nav {
    margin-left: 93px;
    display: flex;
    align-items: center;
}

/* site-nav*/
.site-nav {

    display: flex;
    gap: 50px;
    padding-left: 0;
    margin: 0;
}

.nav-studio {
    padding: right 0;
}

.site-nav .nav-list {
    font-family: 'Roboto';
    color: var(--blue-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav .nav-list-clients {
    font-family: 'Roboto';
    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

.site-nav .nav-list-client {
    font-family: 'Roboto';
    color: var(--primery-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}

/* Контакти */
.list-contacts {
    display: flex;
    gap: 50px;

    margin-top: 0;
    margin-bottom: 0;
    margin-left: 344px;
    padding: 0;

}

.contacts-link {

    padding-left: 0;
    margin: 0;
}

.list-contacts .contacts-link {

    font-family: 'Roboto';
    color: var(--blue-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;


}

.list-contacts .contact-link {

    font-family: 'Roboto';
    color: var(--sekondary-text-color);

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

}



/* Шапка */

.container-item {}

/*Ефективні рішення для вашого бізнесу*/

/* Герой */
.hero-section {
    padding-top: 200px;
    padding-bottom: 280px;

    text-align: center;

    height: 600px;
    left: 0px;
    top: 80px;


    color: var(--section-backghround-color);
    background: var(--footer-color);
}

.hero-title {

    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

/* кнопка */
.order-button {

    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 10px 32px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    font-family: 'Roboto';
    color: var(--white-color);
    background: var(--blue-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
}


/* Особливості */

/* section */
.section {

    padding-top: 94px;
    padding-bottom: 94px;

    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;

}

.subtitle {
    margin-top: 0;
    margin-bottom: 0;

    color: var(--sekondary-text-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

/* УВАГА ДО ДЕТАЛЕЙ */

/*subject*/
.subject {
    display: flex;

    padding-left: 0;
    margin: 0;
}

.other {
    width: 270px;
}

.other:nth-last-child(-n+3) {
    margin-left: 30px;
}

.headline {
    margin-top: 0;
    margin-bottom: 10px;


    width: 270px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03e
}

/* ПУНКТУАЛЬНІСТЬ */
.headline {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.excerp {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* ПЛАНУВАННЯ */
.headline {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.lead {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* СУЧАСНІ ТЕХНОЛОГІЇ */
.headline {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

.tagline {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* Чим ми займаємося */

/* зоображення*/


.pic {
    padding: 0;



}

.img {
    margin-left: 30px;
}

.picture {
    margin-left: 30px;
}



/* Наша команда */

.subject>.item {
    display: flex;
}

.section-leader {
    text-align: center;

    margin-left: 30px;

}

.container-leader {
    padding-top: 30px;
    padding-bottom: 30px;

}


.section-bg {


    margin-top: 0;
    margin-bottom: 50px;

    font-family: 'Roboto';
    color: var(--primery-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

}

.section-title {
    margin-top: 0;
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}

/* підвал*/

.web-footer {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.addres {
    margin-top: 20px;
    padding-left: 0;
    margin-bottom: 9px;

    font-style: normal;
    color: var(--section-backghround-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.mail-item {
    margin-bottom: 9px;
}

.mail {


    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.number {

    margin-bottom: 9px;

    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;


    background-color: var(--footer-color);
}


/* Портфоліо */

/**/

.body-page {

    font-family: 'Roboto';
    color: var(--primery-text-color);
}

.list-clients {

    color: var(--blue-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: 45px;
    height: 16px;
    left: 453px;
    top: 32px;
}

.nav-studio {

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
}


.nav-list-client {

    color: var(--primery-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    width: 72px;
    height: 16px;
    left: 548px;
    top: 32px;
}

/*section-btn*/
.section-btn {
    padding-top: 94px;
    padding-bottom: 94px;
}

/* кнопки */

.section-button {
    display: flex;
    justify-content: center;

    margin-top: 0;
    margin-bottom: 50px;
    padding-left: 0;

}

/* Курсор */
.section-btn .section-button :hover,
.section-btn .section-button :focus {
    cursor: pointer;
}

.button {

    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 25px;

    font-family: 'Roboto';
    color: var(--section-backghround-color);
    background-color: var(--blue-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

}

.btn {
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: 'Roboto';
    color: var(--primery-text-color);
    background: var(--button-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    top: 174px;
}

.control {
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: 'Roboto';
    color: var(--primery-text-color);
    background: var(--button-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    top: 174px;
}

.dropdown {
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: 'Roboto';
    color: var(--primery-text-color);
    background: var(--button-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    top: 174px;
}

.type-btn {
    margin-left: 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 6px 22px;

    font-family: 'Roboto';
    color: var(--primery-text-color);
    background: var(--button-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    top: 174px;
}




/* параграф */
.aside {

    margin: 0;

    color: var(--sekondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

}

/* Заголовок */

.caption {

    margin: 0;

    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

/* Портфоліо */

.userpic {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    gap: 30px;


}

.flex-elements {
    flex-basis: calc((100% - 60px) / 3);

    background: var(--section-backghround-color);
    border-bottom: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
}

/* Заголовок */
/* параграф */
.image-container {
    padding: 20px 24px;
}